header {
	@include h1($text-color-on-dark-background);
	width: 60%;
	height: 40%;
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	right: $body-margin-right;
	justify-content: center;
	align-items: center;

}

h1 {
	font-size: 50px;
	margin: 0px 0px 6px 0px;
}

header div{
	width: 80px;
	border: 1px solid $darken-background-color;
	background-color: $darken-background-color;
	margin: 40px 0px 40px 0px;
}

header p {
	margin: 6px 6px 6px 6px;
}