@font-face {
    font-family: 'antic_didoneregular';
    src: url('/Users/sabrinamezari/Desktop/programmation/fonts/anticdidone-regular-webfont.woff2') format('woff2'),
         url('/Users/sabrinamezari/Desktop/programmation/fonts/anticdidone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
	font-family: 'antic_didoneregular';
	color: $text-color-on-light-background;
}