@mixin h1 ($color: $text-color-on-light-background){
	border:2px solid $darken-background-color;
	background-color: $darken-background-color;
	color: $text-color-on-dark-background;
	text-align: center;
	text-shadow: 2px 2px 6px #DFE4E8;
}

