$text-color-on-light-background : #2A2D31; //*couleur du texte sur fond clair//
$darken-background-color : #37424B; //*couleur de fond gris foncée//
$text-color-on-dark-background : #EDF1F6; //couleur du texte quand le fond est foncé//

$body-margin-right: 20px;